__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/

.env
.venv/
venv/
env/

*.db
*.sqlite
*.sqlite3

uploads/
models/
biological/
metal/
paper/
plastic/
dataset_split/
*.jpg
*.jpeg
*.png
*.webp
*.bmp
*.tif
*.tiff
*.pt
*.pth
*.h5
*.keras
*.pkl
*.joblib

.DS_Store
Thumbs.db
